<h1> Add a City: </h1>
<form action="/cities" method="post">
  <div class ="form-group">
    <label for="name">Name of City:</label>
    <input type="text" id="name" name="name">
  </div>
  <button class="btn btn-info" name="submit">Save</button>
</form>
