<h1>Ticket Details</h1>

<h4>Congratulations, you've bought a ticket!</h4>


<ul>
  <li>Destination : <%= @city.name %></li>
  <li>Train Line: <%= @train.name %></li>
  <li>Departing: <%= @time %></li>
</ul>
